body, html {
    height: 100%;
    /* The image used */
    background-image: url("marble.jpg");

    /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.header a:visited{
    color:black;
}

.header{
    color:solid black;
    font-size:18px;
    font-family:'Droid Serif', serif;
    
    /* border:1px solid black; */
}

h1{
    border-top:2px solid black;
    color:solid black;
    font-family:'Anton', sans-serif;
    font-size:130px;
    border-bottom:2px solid black;
}
input{
    width:150px;
    cursor:pointer;
    font-weight:bold;
    font-size:26px;
    /* background:solid black; */
    color:solid black;
    border:1px solid black;
}
input:hover{
    color:solid black;
    background:solid black;
    border:3px white;

}
p{
    color:black;
    font-family:'Droid Serif', serif;
    font-size:20px;
    
}


 a{
     color:solid black;
     font-family:'Droid Serif', serif;
     font-size:18px;
 }


 a:link, a:visited{
    background-color:solid black;
     color:black;
 }